header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    box-shadow: 1px 1px 10px #444;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-stretch: extra-expanded;
    font-size: large;
    color: yellow;
    position: fixed;
    width: 100%;

}

ul{
    list-style: none;
    display: flex;    
}

header ul li{
    margin: 0 5px;
}

header ul a{
    color: white;
    text-decoration: none;
}