<div>
<div>
    <label for="nombre">Introduce tu nombre </label>
    <input type="text" id="nombre" [(ngModel)]="nombre">
    
</div>
<div>
    <label for="apellido">Introduce tu apellido </label>
    <input type="text" id="apellido" [(ngModel)]="apellido"><!--es un evento que es un  property binding mezclado con un event binding[(ngModel)] lo podemos usar gracias a que hemos importado la librería FormsModule-->
</div>
<!-- <p>{{nombre}} {{apellido}}</p> -->
<button (click)="guardar()">Guardar</button>
</div>
<section ></section>
<h1 class="title">ÚLTIMAS NOVEDADES</h1>
<div class="article-container">
    <article *ngFor="let persona of arrPersonas; let i = index; let par = even; let impar = odd">
        <div class="usuario" [ngClass]="{'darkTeme': impar, 'lightTeme': par}">
        <h3>Usuario</h3>
        <p>Nombre: {{persona.name}}</p>
        <p>Apellidos: {{persona.surname}}</p>
        <small>Noticia número: {{i+1}}</small>
        </div>
        
    </article>
</div>
