<p class="rojo fuente">Soy el primer componente</p>
<span>{{nombre + edad}}</span><!--Esto se llama {{interpolacion}}, y no vale para variables (let...), solo para propiedades(nombre: string =...)-->
<span>{{edad}}</span>
<ul>
    <li [style]="'background-color:'+ color"><!--Esto se llama property binding(traducción,enlace de propiedad, comunica el ts y el html) y se hace poneindo[propiedad a modificar]-->
        Edad: {{edad}} <!--Esto se llama interpolacion (se utiliza en el contenido html); el Property binding se utiliza en las propiedades del html. Nota! No valen para variables, solo para propiedades-->
    </li>
    <li [class]="miClase">
        Calle Número Piso Puerta<!--Todos los elementos que inyectamos en una etiqueta se llaman propiedades. Asi es como ponemos un [atributo]="valor variable" con un valor variale en html-->
    </li>
    <li>
        Productos: {{productos[0]}}
    </li>
    <figure>
        <img class="cat" [src]="foto" alt="My cat">
    </figure>
</ul>
