.contenido{
    max-width: 100px;
    margin: 0 auto;
}

label input{
    width: 100%;
    margin-bottom: 10px;
}

.contenido{
    display: flex;
    justify-content: flex-end;
}

.article-container{
    display: flex;
    flex-direction: column-reverse;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin: auto;    
    
    
}


.usuario{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.33);
    box-shadow: 1px 1px 10px #444;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}


.darkTeme{
    background-color: rgba(25, 20, 20, 0.33);
    color: yellow;
}

.lightTeme{
    background-color: rgba(255, 255, 0, 0.348);
    font-weight: bold;
}