<div class="allContainer">
  <app-header></app-header>
  <main>
    <!-- <app-primero></app-primero>
    <app-segundo></app-segundo> -->
    
    <div class="wrapper">
      <!-- <div>
        <app-eventos></app-eventos>
      </div> -->
      <div class="container">
        <app-tercero></app-tercero>
        <app-galeria></app-galeria>
        <!-- <app-ng-if></app-ng-if> -->
        <!-- <app-ng-style></app-ng-style> -->
        <app-ng-class></app-ng-class>
        <!-- <app-main></app-main> -->
      </div>
      <!-- <div>
        <h1>Imputs y Outputs</h1>
      </div> -->
      <!-- <app-productos [productos]="listaProductos" [nombre]="nombre" (envioTexto)="mostrarTexto($event)"></app-productos> -->
      <!-- <hr> -->
      <!-- <div class="Outtext">{{dato}}</div> -->
    </div>

  </main>
  <footer>
    Copyright @ 2023
  </footer>
</div>