/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rojo {
    color: tomato;
}

/*video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}*/