<!--Esta es la forma mas básica de utilizar ngClass; podemos concatenar clases y el resultado es la suma de ellas-->
<p [ngClass]="['fondoRojo', 'textoVerde']">concatenar clases</p>

<!--Ahora utilizaremos ngClass con una variable-->

<p [ngClass]="miClase">con una variable</p>

<!--Ahora en vez de aplicar una variable, aplicamos un objeto-->

<p [ngClass]="{fondoRojo: activo, fondoAzul: !activo}">aplicamos un objeto</p><!--colocamos dos clases de css en estados contrarios-->

<button (click)="cambiarClase()">Cambiar clase</button><!--creamos un botón para alternar las clases-->

<!--Nota: a las clases les hemos colocado una transición de 1s-->

<!-- DIRECTIVAS DE CLASE -->

<!-- [ngClass]="['clase', 'clase']" -->
<!-- [ngClass]="variable" -->
<!-- [ngClass]="{'clase': propiedad declarada en el ts}" -->

<!-- [ngStyle]="{'propiedad': valor,... }" -->